<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <textarea name="" id="" cols="50" rows="10">{{textAnaliza}}</textarea>
    </div>

    <p>Broj na karakteri: {{brojNaKarakteri}}</p>
    <p>
      Vkupen broj na zborovi pomali od 5 karakteri: {{pomalkuOdPetKarakteri}}
    </p>
    <p>
      Vkupen broj na zborovi pogolemi od 5 karakteri: {{povekjeOdPetKarakteri}}
    </p>
    <p>
      Vkupen broj na zborovi ednakvi na 5 karakteri: {{ednakviNaPetKarakteri}}
    </p>
    <p>Broj na recenici: {{recenici}}</p>
    <p>Broj na zborovi: {{zborovi}}</p>
    <p>Broj na zborovi koi pocnuvaat na samoglaska: {{zboroviSoAEIOU}}</p>
  </body>
</html>
